{% include 'salesforce/navbar.html' %}
{% block content %}
<!------ Include the above in your HEAD tag ---------->

<form method="POST" class="form-horizontal" style="margin-left:200px" border="1">
<fieldset>
{% csrf_token %}
<!-- Form Name -->
<legend>PRODUCTS</legend>

<!-- Text input-->

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
  <div class="col-md-4">
{{form.name}}
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">PRODUCT PRICE</label>
  <div class="col-md-4">
  {{form.price}}
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
  <div class="col-md-4">
    {{form.category}}
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="available_quantity">PRODUCT DESCRIPTION</label>
  <div class="col-md-4">
  {{form.description}}
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="available_quantity">TAGS</label>
  <div class="col-md-4">
  {{form.tags}}
  </div>
</div>
    				 			<input class="btn btn-primary" type="submit" value="Add Product">

    {% endblock %}