
{% include 'salesforce/navbar.html' %}
{% block content %}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{customer.name}} Order</title>
</head>
<body>
<br>
<td>   <a class="btn btn-danger btn-sm" href="{% url 'create_order' customer.id %}" >Create New Order for {{customer.name}}</a>

<br>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header bg-secondary text-white">{{customer.name}}'s Total Order</h5>
        <div class="card-body card-sm">
            <h5 class="card-title"><center>{{total_order}}</center></h5>
      </div>
    </div>
  </div>
     <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header bg-success text-white">{{customer.name}}'s Delivered Order</h5>
        <div class="card-body card-sm">
            <h5 class="card-title"><center>{{delivered}}</center></h5>
      </div>
    </div>
  </div>
     <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header bg-danger text-white">{{customer.name}}'s Pending Order</h5>
        <div class="card-body card-sm">
            <h5 class="card-title"><center>{{pending}}</center></h5>
      </div>
    </div>
  </div>
     <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header bg-warning text-white">{{customer.name}}'s OutforDilevery Order</h5>
        <div class="card-body card-sm">
        <h5 class="card-title" style="size: 20px"><center>{{ofd}}</center></h5>
      </div>
    </div>
  </div>
</div>
<div>
    <table border="1">
<h1 style="font-weight: bold">Customer Data</h1>
      <th style="font-weight: bold">ID:</th>
      <th style="font-weight: bold">Customer Name</th>
          <th style="font-weight: bold">Phone</th>
          <th style="font-weight: bold">Email</th>
    <tr>
         <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>

</tr>
</table>
    </div>
<br>
<div class="row">
    <div class="col">
        <div class=" card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>

    </div>
</div>

    <table border="1">
<h1 style="font-weight: bold">Order Data</h1>
        <th style="font-weight: bold">ID:</th>
    <th style="font-weight: bold">Products</th>
    <th style="font-weight: bold">Products Category</th>
    <th style="font-weight: bold">Products Description</th>
    <th style="font-weight: bold">Products Price</th>
    <th style="font-weight: bold">Date</th>
    <th style="font-weight: bold">Orders Status</th>
    <th style="font-weight: bold">Orders Note</th>


{% for i in order %}
        <tr>

                <td>{{i.product.id}}</td>
                <td>{{i.product}}</td>
                <td>{{i.product.category}}</td>
                <td>{{i.product.description}}</td>
                <td>{{i.product.price}}$</td>
                <td>{{i.date_created}}</td>
                <td>{{i.status}}</td>
                <td>{{i.note}}</td>
    </tr>
{% endfor %}

       </div>
    </table>

{% if order.has_other_pages %}
  <ul class="pagination">
    {% if order.has_previous %}
      <li><a href="?page={{ order.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in order.paginator.page_range %}
      {% if order.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if order.has_next %}
      <li><a href="?page={{ order.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}