{% include 'salesforce/navbar.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>


<br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header bg-secondary text-white">{{request.user}}'s Total Order</h5>
        <div class="card-body card-sm">
            <h5 class="card-title"><center>{{total_order}}</center></h5>
      </div>
    </div>
  </div>
     <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header bg-success text-white">{{request.user}}'s Delivered Order</h5>
        <div class="card-body card-sm">
            <h5 class="card-title"><center>{{delivered}}</center></h5>
      </div>
    </div>
  </div>
     <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header bg-danger text-white">{{request.user}}'s Pending Order</h5>
        <div class="card-body card-sm">
            <h5 class="card-title"><center>{{pending}}</center></h5>
      </div>
    </div>
  </div>
     <div class="col-sm-3">
    <div class="card">
  <h5 class="card-header bg-warning text-white">{{request.user}}'s OutforDilevery Order</h5>
        <div class="card-body card-sm">
        <h5 class="card-title" style="size: 20px"><center>{{ofd}}</center></h5>
      </div>
    </div>
  </div>
</div>
<div>
  {% if total_order == 0 %}<br>
    <h1 style="text-align: center">You have 0 order</h1>
    {% else %}
    <table border="1">
<h1 style="font-weight: bold">Order Data</h1>
        <th style="font-weight: bold">ID:</th>
    <th style="font-weight: bold">Products</th>
    <th style="font-weight: bold">Products Category</th>
    <th style="font-weight: bold">Products Description</th>
    <th style="font-weight: bold">Products Price</th>
    <th style="font-weight: bold">Date</th>
    <th style="font-weight: bold">Orders Status</th>
    <th style="font-weight: bold">Orders Note</th>

 {% endif %}
{% for i in orders %}
        <tr>

                <td>{{i.product.id}}</td>
                <td>{{i.product}}</td>
                <td>{{i.product.category}}</td>
                <td>{{i.product.description}}</td>
                <td>{{i.product.price}}$</td>
                <td>{{i.date_created}}</td>
                <td>{{i.status}}</td>
                <td>{{i.note}}</td>
    </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}
</body>
